import(methods, graphics)
import(Biobase)
import(affy)

export(
 "dksTrain",
 "dksWeights",
 "dksSelectGenes",
 "dksClassify",
 "dksPerm",
 "KS",
 "dksCustomClass"
)

exportClasses(DKSGeneScores, DKSClassifier, DKSPredicted)
exportMethods(plot,show,summary)
